<!-- templates/user_profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- <link rel="stylesheet" href="/static/styles.css"> -->
    
</head>
<body>
    <div class="container">
        <h1>Student Details</h1>
        <div class="user-details">
            <div class="user-image">
                <!-- <img src="{{ user['image'] }}" alt="Image"> -->
                <img src="/static/default.jpg" alt="">
            </div>
            <div class="user-info">
                <div class="user-info-left">
                    <p>PRN: {{ user['prn'] }}</p>
                    <p>Name: {{ user['name'] }}</p>
                    <p>Email: {{ user['email'] }}</p>
                </div>
                <div class="user-info-right">
                    <p>Phone: {{ user['phone'] }}</p>
                    <p>Blood Group: {{ user['blood_grp'] }}</p>
                    <p>Address: {{ user['address'] }}</p>
                    <!-- Add more fields as needed -->
                </div>
            <!-- Add more fields as needed -->
        </div>
        <div class="back-link">
            <a href="{{url_for('home')}}">Back to Home</a>
        </div>
    </div>
</body>
</html>
